@font-face {
	font-family: Cubano;
	src: url("assets/Cubano-Regular.otf");
}

html {
    margin: 0px;
	padding: 0px;
}

body {
	font-family: Cubano;
	font-size: 32px;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-smooth: never;
	-webkit-font-smoothing: none;
	color: white;
	overflow: hidden;
}

#canvas-container {
	width: 100%;
	height: calc(100% - 100px);
	margin: auto;
	color:white;
}

canvas {
	z-index: 1;
	display: block;
	/*prevents double click selection*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 0px;
	margin: auto;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
    image-rendering: crisp-edges;
    touch-action: manipulation;
}

#interface {
	z-index: 10;
	display: block;
	position: absolute;
	/* margin: auto; */
	width: 100vw;
    text-align: center;
	bottom: 50px;
	
}

#talk-form {
	display: block;
	background: none;
	/*width: 800px;*/
	width: 100%;
	margin: auto;
	color: white;
	text-align: center;
	
}

/*TEXT FIELDS*/
.talk-field,
.lobby-field {
	font-family: Cubano;
	border: none;
	padding-top: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	outline: none;
    font-size: 24px;
	background-color: none;
	color: white;
}

.talk-field {
	display: inline-block;
	width: 70%;
	float: left;
    /*margin-right:4px;*/
    margin-top:4px;
}

/*USERNAME*/

.lobby-message {
	font-size: 48px;
	margin-bottom: 48px;
	color: white;
	line-height: 0.8;
}

.lobby-error-message {
	font-size: 32px;
	color: white;
}

.lobby-field {
	border: 4px solid white;
	text-align: center;
	width: 80%;
	max-width: 600px;
	outline: none;
}

.talk-button,
.join-button,
.user-button,
.avatar-button {
	font-family: Cubano;
	font-size: 24px;
	/* margin: 0px; */
	display: inline-block;
	border: none;
	text-align: center;
	color: #00b2a9;
    background: white;
    outline: none;
    margin-left: auto;
    margin-right:auto;
    padding-top: 4px;
	padding-bottom: 10px;
    padding-left: 16px;
	padding-right: 16px;
    cursor: pointer;
}

/*USERNAME CONTINUE*/
.lobby-button {
	padding-left: 16px;
	padding-right: 16px;
}

.talk-button {
    /*float: right;*/
  display:inline-block;
  float: left;
  min-width: 120px;
  width:28%;
  margin-top: 4px;
  margin-left: 4px;
  
}

#info {
	visibility: hidden;
}

/*bottom link*/
.info {
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	text-align: right;
	margin-bottom: 8px;
	margin-right: 8px;
}

.info a {
	text-decoration: none;
	color: white;
}

.info a:hover {
	text-decoration: none;
	color:#b6fffb;;
}


/* On small screen stack the talk button */
@media screen and (max-height: 450px) {
  .talk-button {
	  float: none;
  }
	.talk-field {
		float: none;
		width: 98%;
		margin-bottom: 4px;
	}

	.info {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.info {
		display: none;
	}
}

.talk-button:active,
.user-button:active,
.avatar-button:active,
.join-button:active {
    background: #b6fffb;
    border-bottom: none;
    border-right: none;
    margin-top: 4px;
}

.talk-button:hover,
.user-button:hover,
.avatar-button:hover,
.join-button:hover {
	background: #b6fffb;
}

.join-button {
    animation: glowing 1300ms infinite;
}


/*LOBBY OVERLAYS*/
#lobby-container {
	display: block;
    height: 100%;
}


/* center on container */
.content-center {
	z-index: 2;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	text-align: center;
}

#lobby-field {
	background: none;
}

#chatField {
	background: none;
	border: 4px solid white;
}

::-webkit-input-placeholder { /* Edge */
	color: white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
  }
  
  ::placeholder {
	color: white;
  }